version: 1
formatters:
  precise:
    format: '%(asctime)s - %(name)s - %(levelname)s - %(message)s'
handlers:
  console:
    class: logging.StreamHandler
    formatter: precise
    level: WARNING
root:
  level: WARNING
  handlers: [console]
loggers:
  synapse.http.access:
    level: ERROR
  synapse.storage.SQL:
    level: WARNING
disable_existing_loggers: false

